<!DOCTYPE html>
<html>

<head>
    <title>Forgot Password</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="display">
        <h1>Forgot Password</h1>
        <form method="post" action="/project/forgot-password">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" required>
            </div>
            <button type="submit">Submit</button>
        </form>
        <br>
        <p>Remembered your password? <a href="/" class="login-link">Log in</a> now!</p>
    </div>
    <script>
        <% if(success && success.length > 0) { %>
                   new Noty({
                       theme: 'relax',
                       text: "<%= success %>",
                       type: 'success',
                       layout: 'topRight',
                       timeout: 1500
                       
                   }).show();    
               <% } %>
               <% if (error && error.length > 0) {%>
                   new Noty({
                       theme: 'relax',
                       text: "<%= error %>",
                       type: 'error',
                       layout: 'topRight',
                       timeout: 1500
                       
                   }).show();    
               <%} %>
     </script>
</body>

</html>